<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Chat</title>
</head>

<body>
    <h1>Chat</h1>
    Autor:
    <input id="inputAutor" type="text"><br>
    Mensaje:
    <input id="inputTexto" type="text"><br>
    <button id="btn_enviar">enviar</button>
    <div id="mensajes"></div>
</body>

<script src="js/index.js"></script>

</html>